{
  "plugins": [
    [
      "babel-plugin-root-import"
    ],
    [
      "transform-object-rest-spread"
    ],
    [
      "module-resolver", {
        "root": ["."],
        "alias": {"src": "./src"}
      }
    ]
  ],
  "presets": [
    "latest"
  ]
  
}