/*******************/

/* color variables */

/*******************/


$white: #fff;
$black: #000;
$yellow: #ded100;
$orange: #fe6e41;
$lightblue: #dddedf;
$blue: #12192d; // use with opacity 20, 50, 100 %
